* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
  background: #0b0d14;
}

.slider {
  display: flex;
  height: 100vh;
  width: 100wd;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.slide {
  flex: 0 0 100vw;
  height: 100vh;
  scroll-snap-align:start;
  position: relative;
}
.page1 {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url("./images/behance_img_7.jpg");
  background-size: cover;
  background-position: center;
  
}
.menu {
  color: white;
  align-items: center;
  padding-left: 90px;
  padding-top: 40vh;

}
.menu h4 {
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 26px;
  opacity: 0.8;
  cursor: pointer;
  
}
.menu p {
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 26px;
  opacity: 0.8;
  cursor: pointer;
}
