* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
  background: #0b0d14;
}
.page-logos {
  position: absolute;
  z-index: 10;
  inset: 0;
  cursor: pointer;
  border: 1px;
  height: 1px;
}

.logo {
  position: absolute;
  top: 20px;
  right: 40px;
  width: 55px;
}
.logo:hover {
  transform: scale(1.10);
  transition: transform 0.5s ease;
}
.social {
  position: absolute;
  left: 20px;
  width: 40px;
  opacity: 0.6;

}

.social:hover {
  transform: scale(1.10) translateX(2px);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 1;
 
}

.facebook {top: 40vh;}

.linkedin {top: 44vh;}

.instagram {top: 48vh;}

.youtube {top: 52vh;}

.slider {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.slide {
  flex: 0 0 100vw;
  height: 100vh;
  scroll-snap-align:start;
  position: relative;
}
.page1 {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url("./images/behance_img_7.jpg");
  background-size: cover;
  background-position: center;
  
}
.page1-blur {
  width: 65vw;
  height: 100vh;
  background: linear-gradient(135deg, rgba(15, 18, 30, 0.92), rgba(15, 18, 30, 0.65));
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  padding-left: 90px;
  clip-path: polygon(
    0% 0%, 
    90% 0%, 
    50% 100%,
    0% 100%);

}
.menu {
  color: white;
  padding-left: 6vw;

}
.menu h4 {
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 26px;
  opacity: 0.8;
  cursor: pointer;
  
}
.menu p {
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 26px;
  opacity: 0.8;
  cursor: pointer;
}

.menu h4:hover {
  transform: translateX(4px);
  opacity: 1;
}

.menu p:hover {
  transform: translateX(4px);
  opacity: 1;
}




.page2 {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background:
    radial-gradient(circle at 15% 30%, rgba(40,0,80,.95), transparent 55%),
    radial-gradient(circle at 85% 70%, rgba(180,0,80,.75), transparent 60%),
    linear-gradient(120deg, rgb(8,0,20), rgb(18,0,35), rgb(30,0,40));
  display: flex;
  justify-content: center;
  align-items: center;
}
.car-leftside{
  position:absolute;
  left:0;
  top:0;
  width: 67vw;
  height: 100vh;
  background: linear-gradient(135deg , rgba(10,10,25,.95) , rgba(10,10,25,.55));
  backdrop-filter: blur(7px);
  clip-path:polygon(
    0% 0%, 
    90% 0%, 
    54% 100%, 
    0% 100%
  );
  display: flex;
  align-items: center;
  padding-left: 7%;
  z-index: 2;
}
.car-leftside-text h3{
  font-size:34px;
  letter-spacing:3px;
  margin-bottom:22px;
  color:white;
}

.car-leftside-text p{
  font-size:22px;
  line-height:1.9;
  opacity:.8;
  width:550px;
  color:white;
}
.car {
  position: relative;
  width: 1200px;
  height: 600px;
}
.page-background{
  position:absolute;
  right:3%;
  top:50%;
  transform:translateY(-50%);
  width:730px;
  height:420px;
  clip-path: polygon(
    32% 0%,
    100% 0%,
    68% 100%,
    0% 100%
  );
  overflow:hidden;
  z-index:1;
}
.page-background img{
  width:100%;
  height:100%;
  object-fit:cover;
}
.car-cut{
  position:absolute;
  left:100px;
  bottom:20px;
  z-index:2;
}
.car-cut img{
  width:1200px;
  filter: drop-shadow(0 30px 45px rgba(0,0,0,.7));
}




.page3 {
  position:relative;
  width:100%;
  height:100vh;
  overflow:hidden;
  background:
    radial-gradient(circle at 12% 30%, rgba(60,0,120,.95), transparent 55%),
    radial-gradient(circle at 85% 70%, rgba(200,0,90,.95), transparent 60%),
    linear-gradient(120deg, rgb(5,0,16), rgb(12,0,24), rgb(24,0,31));
}
.page3::after{
  content:"";
  position:absolute;
  inset:0;
  background:linear-gradient(
    90deg,
    rgba(0,0,0,.80) 0%,
    rgba(0,0,0,.45) 35%,
    transparent 70%
  );
  z-index:1;
}
.carlights{
  position:relative;
  z-index:2;
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding-left: 10%;
}
.carlights-text {
  width: 38%;
  color: white;
}
.carlights-text h2{
  font-size:38px;
  letter-spacing:3px;
  margin-bottom:26px;
}

.carlights-text p{
  font-size:24px;
  line-height:1.9;
  opacity:0.88;
}
.carlights-images{
  position:relative;
  width:54%;
  height:500px;
}
.img-card{
  position:absolute;
  width:620px;
  height:270px;
  clip-path:polygon(
    20% 0%,
    100% 0%,
    80% 100%,
    0% 100%);
  overflow:hidden;
  background:transparent;
}
.img-card img{
  width:100%;
  height:100%;
  object-fit:cover;
}
.top-card{
  top:0;
  right:220px;
  z-index:1;
}
.bottom-card{
  bottom:0;
  right:160px;
  z-index:0;
}




.page4 {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("./images/behance_img_4.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.page4::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(120deg , rgba(40,30,60,.55) , rgba(120,40,70,.15));
  backdrop-filter: blur(14px);
  z-index: 1;
}

.left-side {
  position: absolute;
  left: 0;
  top: 0;
  width: 67vw;
  height: 100vh;
  background: linear-gradient(135deg , rgba(10,10,25,.95) , rgba(10,10,25,.55));
  backdrop-filter: blur(7px);
  clip-path:polygon(
    0% 0%, 
    90% 0%, 
    54% 100%, 
    0% 100%
  );
  z-index: 2;
  display: flex;
  align-items: center;
  padding-left: 7%;
}
.left-side-text {
  width: 45%;
  color: white;
}
.left-side-text h3 {
  font-size: 30px;
  letter-spacing: 3px;
  margin-bottom: 24px;
}
.left-side-text p {
  font-size: 19px;
  line-height: 2;
  opacity: .8;
}
.specification {
  position: absolute;
  right: 17%;
  top: 45%;
  transform: translateY(-50%);
  z-index: 3;
  /* z-index: 3;
  display: flex;
  align-items: center;
  gap: -10px; */
}
.specification img.engine {
  width: 820px;
  position: relative;
  z-index: 2;
  

}
.specification img.emplom {
  position: absolute;
  width: 450px;
  right: -120px;
  top: 45%;
  opacity: .5;
  /* z-index: 1; */
}
.stats {
  position: absolute;
  bottom: 12%;
  left: 28%;
  display: flex;
  gap: 18px;
  z-index: 3;
}
.stat-box {
  width: 260px;
  height: 100px;
  background: rgba(0, 0, 0, .40);
  clip-path:polygon(
    18% 0%,
    100% 0%,
    82% 100%,
    0% 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  letter-spacing: 1px;
}
 .stat-box .top-span {
  font-size: 12px;
  opacity: 0.7;
  letter-spacing: 1px;
  text-align: right;
}
.stat-box h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  margin: 4px 0;
}
.stat-box .bottom-span {
  font-size: 12px;
  opacity: 0.6;
  letter-spacing: 1px;
  text-align: left;
}




.page5 {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}
.inte-exte {
  position: relative;
  width: 100%;
  height: 100%;

}
.inte-left {
  position: absolute;
  inset: 0;
  background-image: url("./images/bmw_steering.jpg");
  background-size: cover;
  background-position: left;
  clip-path: polygon(
    0 0, 
    65% 0, 
    45% 100%, 
    0 95%);

}
.inte-right {
  position: absolute;
  inset: 0;
  background-image: url("./images/behance_img_5\ \(mirror\).jpg");
  background-size: contain;
  background-position: right;
  clip-path: polygon(
    65% 0, 
    100% 0, 
    100% 100%, 
    40% 100%);


}
.inte-left::after,
.inte-right::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(10, 12, 20, 0.35);
  /* background: circle at center , rgba(0, 0, 0, 0.1); */
}
.label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px;
  letter-spacing: 4px;
  color: white;
  z-index: 5;

}
.inte {
  left: 15%;

}
.exte {
  right: 15%;
}




.page6 {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("./images/behance_img_10.jpg");
  background-size: cover;
  background-position: center;
}
.page6::before {
  content:"";
  position:absolute;
  inset: 0;
  background: linear-gradient(
    120deg,
    rgba(40,30,60,.30),
    rgba(120,40,70,.45)
  );
  backdrop-filter: blur();
}
.interior {
  position:relative;
  z-index:2;
  width:100%;
  height:100%;
}
.interior-text {
  position:absolute;
  right:10%;
  top:47%;
  transform:translateY(-50%);
  color:white;
}
.interior-text h2 {
  font-size:50px;
  letter-spacing:4px;
  margin-bottom:10px;
  opacity: .92;
}
.interior-text p {
  font-size:24px;
  letter-spacing:2px;
  opacity:.85;
}
.plus-box {
  position:absolute;
  width:143px;
  height:55px;
  background:rgba(0,0,0,.75);
  clip-path:polygon(
    23% 0%,
    100% 0%,
    77% 100%,
    0% 100%);
  display:flex;
  align-items:center;
  justify-content:center;
  color:rgba(255,255,255,.75);
  font-size:22px;
  font-weight:300;
  box-shadow:0 6px 18px rgba(0,0,0,.1);
  cursor:pointer;
  font-size: 40px;
}
.plus-box:hover {
  transform: scale(1.13);
  transition: 0.5s ease;
  background:rgba(255, 0, 93, 0.9);
  color:white;
}
.p1{ top:13%; left:17%; }
.p2{ top:15%; right:17%; }
.p3{ top:28%; left:31%; }
.p4{ top:29%; right:40%; }
.p5{ bottom:33%; left:39%; }
.p6{ bottom:38%; right:38%; }
.p7{ bottom:33%; right:22%; }





.page7 {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url(./images/behance_img_10.jpg);
  background-size: cover;
  background-position: center;
}
.page7::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(120deg , rgba(40,30,60,.30) , rgba(120, 40, 70, .45) );
  backdrop-filter: blur(4px);
}
.dashboard {
  position: absolute;
  top: 15%;
  left: 35%;
  width: 640px;
}
.dashboard-img {
  position: relative;
  width: 100%;
  height: 240px;
  clip-path: polygon(
    18% 0%, 
    100% 0%, 
    82% 100%, 
    0% 100%);
  overflow: hidden;
  background: black;
  z-index: 2;
}
.dashboard-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dashboard-img::after {
  content: "";
  position: absolute;
  inset: 0;
  background:
    radial-gradient(
      circle at 70% 30%,
      rgba(255,120,160,.25),
      transparent 60%
    ),
    linear-gradient(
      120deg,
      rgba(255,255,255,.08),
      rgba(0,0,0,.25)
    );
  pointer-events: none;
}
.dashboard-text {
  position: relative;
  width: 660px;
  margin: -55px auto 0;
  background: rgba(0, 0, 0, .70);
  clip-path: polygon(
    20% 0%,
    100% 0%,
    80% 100%,
    0% 100%);
    z-index: 1;
}
.inner-text {
  padding: 96px 110px 72px;
  color: white;
}
.inner-text p {
  font-size: 18px;
  line-height: 1.8;
  opacity: .92;
  margin-bottom: 22px;
}
.inner-text span {
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  opacity: .85;
}
.inner-text span:hover {
  opacity: 1;
}




.page8 {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url(./images/behance_img_13.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.testdrive-blur {
  width: 65vw;
  height: 100vh;
  background: linear-gradient(135deg, rgba(15, 18, 30, 0.9), rgba(15, 18, 30, 0.4));
  backdrop-filter: blur(5px);
  padding: 80px 70px;
  color: white;
  z-index: 2;
  clip-path: polygon(
    0% 0%, 
    90% 0%, 
    50% 100%, 
    0% 100%);

}
.testdrive-blur h2 {
  padding-left: 80px;
  font-size: 29px;
  letter-spacing: 3px;
  margin-bottom: 10px;

}
.subtitle {
  padding-left: 80px;
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 40px;

}
.testdrive-form {
  padding-left: 80px;
  display: grid;
  flex-direction: column;
  gap: 24px;
  width: 500px;
}
.testdrive-form input {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 10px 0;
  color: white;
  font-size: 14px;
  outline: none;

}
.testdrive-form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
} 
.testdrive-form button {
  background: linear-gradient(135deg, rgb(161, 0, 79), rgb(225, 0, 111));
  border: none;
  color: white;
  font-size: 14px;
  margin-top: 35px;
  width: 170px;
  padding: 14px ;
  letter-spacing: 2px;
  cursor: pointer;

}
.testdrive-form button:hover {
  transform: scale(1.02) translateX(4px);
  box-shadow: 0 10px 35px rgba(218, 0, 109, 0.4);
  transition: transform 0.5s ease , box-shadow 0.5s ease;

}